
<div id="home-post-list" class="container">
  <div class="row">
    <div class="col-10">
        {{#each posts as |post|}}
        <div class="home card">
          <h3 class="home card-header"><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
          <div class="home card-body">
            <h5 class="card-title">{{post.post_body}}</h5>
            <p class="card-text">Posted by {{user.name}} on {{format_date post.post_date}}</p>
          </div>
        </div>
        {{/each}}
    </div>
  </div>
</div>
