<h2>Posts</h2>
{{#each posts as |post|}}

<h3>
  <a href="/post/{{post.id}}">{{post.title}}</a>
</h3>
<p class="post-body">
  {{post.post_body}}
</p>
<p class="post-footer">
  {{post.user_id}} on {{post.post_date}}
</p>

{{/each}}
